## Web Scrapping with Beautiful Soup

> Indented block

In [86]:
import requests
from bs4 import BeautifulSoup as bs
import numpy as np
import pandas as pd

In [87]:
import numpy as np
import requests
from bs4 import BeautifulSoup as bs
url='http://books.toscrape.com/'

In [88]:
text=requests.get(url).text
soup=bs(text)

In [89]:
image=soup.select('img')
image_link=[link['src'] for link in image]
image_link

['media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg',
 'media/cache/26/0c/260c6ae16bce31c8f8c95daddd9f4a1c.jpg',
 'media/cache/3e/ef/3eef99c9d9adef34639f510662022830.jpg',
 'media/cache/32/51/3251cf3a3412f53f339e42cac2134093.jpg',
 'media/cache/be/a5/bea5697f2534a2f86a3ef27b5a8c12a6.jpg',
 'media/cache/68/33/68339b4c9bc034267e1da611ab3b34f8.jpg',
 'media/cache/92/27/92274a95b7c251fea59a2b8a78275ab4.jpg',
 'media/cache/3d/54/3d54940e57e662c4dd1f3ff00c78cc64.jpg',
 'media/cache/66/88/66883b91f6804b2323c8369331cb7dd1.jpg',
 'media/cache/58/46/5846057e28022268153beff6d352b06c.jpg',
 'media/cache/be/f4/bef44da28c98f905a3ebec0b87be8530.jpg',
 'media/cache/10/48/1048f63d3b5061cd2f424d20b3f9b666.jpg',
 'media/cache/5b/88/5b88c52633f53cacf162c15f4f823153.jpg',
 'media/cache/94/b1/94b1b8b244bce9677c2f29ccc890d4d2.jpg',
 'media/cache/81/c4/81c4a973364e17d01f217e1188253d5e.jpg',
 'media/cache/54/60/54607fe8945897cdcced0044103b10b6.jpg',
 'media/cache/55/33/553310a7162dfbc2c6d19a84da0df9e1.jpg',
 'media/cache/09/a3/09a3aef48557576e1a85ba7efea8ecb7.jpg',
 'media/cache/0b/bc/0bbcd0a6f4bcd81ccb1049a52736406e.jpg',
 'media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg']

In [90]:
image=soup.select('img')
title=[link['alt'] for link in image]
title

['A Light in the Attic',
 'Tipping the Velvet',
 'Soumission',
 'Sharp Objects',
 'Sapiens: A Brief History of Humankind',
 'The Requiem Red',
 'The Dirty Little Secrets of Getting Your Dream Job',
 'The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull',
 'The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics',
 'The Black Maria',
 'Starving Hearts (Triangular Trade Trilogy, #1)',
 "Shakespeare's Sonnets",
 'Set Me Free',
 "Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)",
 'Rip it Up and Start Again',
 'Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991',
 'Olio',
 'Mesaerion: The Best Science Fiction Stories 1800-1849',
 'Libertarianism for Beginners',
 "It's Only the Himalayas"]

In [91]:
p_tags = []
prices = soup.find_all('p', {'class':'price_color'})
#working code
for price in prices:
     p_tags.append(price.text.replace('Â', ''))

print(p_tags)

['£51.77', '£53.74', '£50.10', '£47.82', '£54.23', '£22.65', '£33.34', '£17.93', '£22.60', '£52.15', '£13.99', '£20.66', '£17.46', '£52.29', '£35.02', '£57.25', '£23.88', '£37.59', '£51.33', '£45.17']

In [92]:
Rating=[]
for i in soup.find_all('p',attrs={'class':'star-rating'}):
  new=i.get('class')
  new1=' '.join(map(str,new))
  Rating.append(new1.replace('star-rating',''))
print (Rating)

[' Three', ' One', ' One', ' Four', ' Five', ' One', ' Four', ' Three', ' Four', ' One', ' Two', ' Four', ' Five', ' Five', ' Five', ' Three', ' One', ' One', ' Two', ' Two']

In [93]:
new=pd.DataFrame((list(zip(title,image_link,p_tags,Rating))),columns=['Title','Image_Link','Price','Star Rating'])
Books_to_Scrape=new.set_index('Title')
Books_to_Scrape.head()

                                                                              Image_Link  ... Star Rating
Title                                                                                     ...
A Light in the Attic                   media/cache/2c/da/2cdad67c44b002e7ead0cc35693c...  ...       Three
Tipping the Velvet                     media/cache/26/0c/260c6ae16bce31c8f8c95daddd9f...  ...         One
Soumission                             media/cache/3e/ef/3eef99c9d9adef34639f51066202...  ...         One
Sharp Objects                          media/cache/32/51/3251cf3a3412f53f339e42cac213...  ...        Four
Sapiens: A Brief History of Humankind  media/cache/be/a5/bea5697f2534a2f86a3ef27b5a8c...  ...        Five

[5 rows x 3 columns]